html {background-color: white;}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  text-align: left;

}

.App-logo {
  height: 15vh;
  flex-shrink: 0;
  position: fixed;
  left:0;
  top:0;
}

.App-header { 
  background-color: white;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title {
	
  font-size: 3rem;
  margin-left: 1rem;
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left:3;

}


@media (max-width: 800px) {
  .Title {
    display: none;
  }
}


.Chat{
  position: fixed;
  bottom: 0;
  left: 0;
}

.HeaderTitle{
	
}
